QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
*.cache
*.vsidx
*.db-wal
*.db-shm
QLKhoHang/.vs/QLKhoHang/FileContentIndex/07f63b3a-338a-4289-b075-313940920cab.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/14a97288-70fb-43a5-ae85-9cd3104695c0.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/6240965c-44e9-4d1f-9d5c-a91c69292b2b.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/bba13cb2-5f8c-497b-9699-f291ae2bfcc7.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/fd03df9a-01ea-42f7-8269-584dc6347311.vsidx
QLKhoHang/.vs/QLKhoHang/v17/.suo
QLKhoHang/obj/Debug/net9.0/QLKhoHang.AssemblyInfo.cs
QLKhoHang/obj/Debug/net9.0/QLKhoHang.AssemblyInfoInputs.cache
QLKhoHang/obj/Debug/net9.0/QLKhoHang.assets.cache
QLKhoHang/obj/Debug/net9.0/QLKhoHang.GeneratedMSBuildEditorConfig.editorconfig
QLKhoHang/obj/project.assets.json
QLKhoHang/obj/project.nuget.cache
QLKhoHang/obj/QLKhoHang.csproj.nuget.dgspec.json
*.pdb
*.exe
*.dll
*.json
*.bin
*.db
*.v2
*.json
*.cache
*.cache
QLKhoHang/obj/Debug/net9.0/QLKhoHang.AssemblyInfoInputs.cache
QLKhoHang/obj/Debug/net9.0/QLKhoHang.assets.cache
QLKhoHang/obj/Debug/net9.0/QLKhoHang.AssemblyInfo.cs
*.v2
*.json
QLKhoHang/.vs/QLKhoHang/v17/.suo
QLKhoHang/.vs/QLKhoHang/v17/.suo
